{% extends 'base_generic.html' %}

{% block content %}
<h3>Список авторов в БД</h3>
<h4>{{ author.first_name }} {{ author.last_name }}</h4>

<form method="POST">
  {% csrf_token %}
  <p>
    <label>Измените имя</label><br>
    <input type="text" name="first_name" value="{{ author.first_name }}"/>
  </p>
  <p>
    <label>Измените фамилию</label><br>
    <input type="text" name="last_name" value="{{ author.last_name }}"/>
  </p>
  <p>
    <label>Измените дату рождения</label><br>
    <input type="date" name="date_of_birth"/>
  </p>
  <p>
    <label>Измените дату смерти</label><br>
    <input type="date" name="date_of_death" value="{{ author.date_of_death|date:'Y-m-d' }}"/>
  </p>
  <input type="submit" value="Изменить"/>
</form>
{% endblock %}