{% extends 'base_generic.html' %}

{% block content %}
<h3>Список авторов в БД</h3>
<table>
  <thead><th>Id<th>____Имя____<th>Фамилия</th></th></th></thead>
  {% if author %}
  {% for author in author.all %}
  <tr>
    <td>{{ author.id }}</td>
    <td>{{ author.first_name }}</td>
    <td>{{ author.last_name }}</td>
    <td><a href="/authors_add/edit1/{{ author.id }}">Изменить</a>,
        <a href="/authors_add/delete/{{ author.id }}">Удалить</a></td>
  </tr>
   {% endfor %}

  {% else %}
  <p>В базе данных нет авторов</p>
  {% endif %}
</table>

<h3>Добавить в БД автора книги</h3> 
<form method="POST" action="/authors_add/create/">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input type="submit" value="Сохранить" />
</form>
{% endblock %}